@import './../variables.scss';

.fare-estimate {
  position: relative;
  top: 60px;
  width: 100%;
  height: 620px;
  background-color: $uberwhitebackground;

  .fare-estimate-contents {
    width: 1172px;
    height: 620px;
    @include flexdisplay(row,flex-end,center);
    margin: 0 auto;

    .fare-estimate-text {
      width: 381px;
      height: 460px;
      @include flexdisplay(column,flex-start,flex-start);
      @include uberheadings;
      margin-top: 160px;

      .fare-estimate-inputs {
        width: 315px;
        height: 110px;
        @include flexdisplay(column,space-between,flex-start);

        .pickup {
        @include uberinput(305px, 26px);
        padding-left: 30px;
        outline: none;
        }

        .fa-location-arrow, .fa-times {
          position: relative;
          top: -42.5px;
          left: 315px;
          color: $uberdarkgrey;
          font-size: 1.25em;
        }

        .destination-container {
          width: 364px;
          height: 26px;
          @include flexdisplay(row,flex-start,center);

          .destination {
          @include uberinput(256px, 26px);
          padding-left: 30px;
          outline: none;
          }

          .destination-arrow {
            position: relative;
            left: -1px;
            width: 49.0px;
            height: 49.07px;
            background-color: $uberdarkgrey;
            @include flexdisplay(row,center,center);
            color: $uberwhitebackground;
          }
        }

        .input-connector-dot {
          position: absolute;
          left: 153px;
          width: 5px;
          height: 5px;
          z-index: 50;
          border-radius: 50%;
        }

        .green-dot {
          background-color: green;
          top: 287.5px;
        }

        .red-dot {
          background-color: red;
          top: 357.5px;
        }

        .dot-connector {
          position: absolute;
          left: 155px;
          top: 287.5px;
          width: 1px;
          height: 70px;
          background-color: $uberdarkgrey;
        }
      }
    }
  }
}
