@import './../variables.scss';

.uber-commitment {
  position: relative;
  top: 60px;
  width: 100%;
  height: 402px;
  background-color: $ubergreybackground;
  @include flexdisplay(row,flex-start,center);
  overflow: hidden;

  .uber-commitment-text {
    width: 718px;
    height: 402px;
    margin-left: 230px;
    padding-top: 85px;
    @include uberheadings;

    p {
      @include uberfont(16px, 300, 24px);
      margin-bottom: 24px;
    }

    .learn-more-link {
      @include uberfont(15px, 400, 18px);
      color: $uberlightgreen;
      width: 112px;
      @include flexdisplay(row,space-between,center);
      transition: all .2s ease-in-out;

      .fa-chevron-right {
        font-size: .8em;
      }
    }

    .learn-more-link:hover {
      width: 117px;
      transition: all .2s ease-in-out;
    }
  }

  img {
    position: relative;
    right: -65px;
    height: 402px;
  }
}
