@import './../variables.scss';

.uber-footer {
  position: relative;
  top: 60px;
  width: 100%;
  height: 915px;
  background-color: $headingfontcolor;
  padding-top: 52px;
  color: $uberwhitebackground;

  .uber-footer-buttons {
    width: 1150px;
    height: 125px;
    margin: 0 auto;
    border-bottom: 1px solid $uberbuttongrey * .15;
    @include flexdisplay(row,flex-start,center);

    .uber-footer-logo {
      background-image: url('./images/uber-logo-white.png');
      background-size: contain;
      background-repeat: no-repeat;
      width: 363px;
      height: 34px;
    }

    .uber-footer-signup-btn {
      margin: 0 234px 0 30px;
    }

    .uber-footer-signup-btn, .uber-footer-drive-btn {
      @include uberbutton(159px, 0px, 0px);
      background-color: $uberwhitebackground;
      @include flexdisplay(row,center,center);
      animation: all .2s ease-in-out;

      p {
        @include uberfont(15px, 500, 44px);
        color: $headingfontcolor;
        animation: all .2s ease-in-out;

      }
    }

    .uber-footer-signup-btn:hover, .uber-footer-drive-btn:hover {
      background-color: $uberbuttongrey;
      animation: all .2s ease-in-out;
    }

    .uber-footer-drive-btn {
      width: 173px;
      border: 3px solid $uberwhitebackground;
      background-color: $headingfontcolor;

      p {
        color: $uberwhitebackground;
        animation: all .2s ease-in-out;
      }
    }

    .uber-footer-drive-btn:hover {
      border-color: $uberbuttongrey;
      color: $headingfontcolor;
      animation: all .2s ease-in-out;

      p {
        color: $headingfontcolor;
        animation: all .2s ease-in-out;
      }
    }
  }

  .uber-footer-nav-cols {
    width: 1150px;
    height: 453px;
    margin: 0 auto;
    @include flexdisplay(row,space-between,center);

    .nav-col {
      width: 363px;
      height: 423px;

      .nav-col-link {
        width: 363px;
        height: 40px;
        @include uberfont(16px, 300, 40px);

        .fa-map-marker, .fa-globe, .fa-life-ring {
          width: 20px;
          margin-right: 15px;
          font-size: 1em;
        }

        .fa-map-marker {
          font-size: 1.3em;
        }
      }
    }

    .nav-col-1 {

      .uber-footer-social-icons {
        position: relative;
        bottom: -250px;

        .fa {
          margin-right: 12px;
        }
      }
    }
  }

  .uber-footer-cities {
    width: 1150px;
    height: 109px;
    border-top: 1px solid $uberbuttongrey * .15;
    border-bottom: 1px solid $uberbuttongrey * .15;
    margin: 0 auto;
    @include flexdisplay(column,center,center);

    .footer-cities-links {
      width: 1150px;
      height: 28px;
      @include flexdisplay(row,flex-start,center);
      margin-bottom: 2px;

      .top-city, .top-country {
        @include uberfont(14px, 200, 20px);
        margin-right: 335px;
      }

      .top-country {
        margin-right: 310px;
      }

      .uber-location {
        @include uberfont(14px, 300, 20px);
        margin-right: 16px;
      }
    }
  }
  .footer-app-links {
    @include flexdisplay(row,center,center);
    width: 1150px;
    height: 109px;
    margin: 0 auto;
    border-bottom: 1px solid $uberbuttongrey * .15;


    .uber-footer-app {
      width: 120px;
      height: 35px;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
    }

    .uber-app-1 {
      background-image: url('https://d1a3f4spazzrp4.cloudfront.net/uber-com/1.3.1/d1a3f4spazzrp4.cloudfront.net/images/global/app-store-8c177b28a0.svg');
    }

    .uber-app-2 {
      background-image: url('https://play.google.com/intl/en_us/badges/images/generic/en-play-badge.png');
      background-size: cover;
      width: 130px;
      margin-left: 10px;
    }

    .uber-app-3 {
      background-image: url('https://assets.windowsphone.com/8d997df3-5b6e-496c-88b3-e3f40117c8fd/English-get-it-from-MS_InvariantCulture_Default.png');
    }
  }

  .footer-fineprint {
    width: 1150px;
    height: 50px;
    margin: 0 auto;
    @include flexdisplay(row,flex-start,center);
    padding-top: 30px;

    .fineprint {
      @include uberfont(12px, 200, 16px);
      width: 160px;
      height: 30px;
    }

    .fineprint-1 {
      margin-right: 230px;
    }

    .fineprint-2 {
      font-weight: 400;
      margin-right: 230px;
    }

    .fineprint-3 {
      font-weight: 400;
    }
  }
}
