@import './../variables.scss';

.uber-navbar {
  width: 100%;
  height: 60px;
  position: fixed;
  background-color: $uberwhitebackground;

  .uber-navbar-contents {
    width: 81%;
    height: 60px;
    margin: 0 auto;
    @include flexdisplay(row,space-between,center);

    .uber-nav-left {
      width: 65%;
      height: 60px;
      @include flexdisplay(row,flex-start,center);

      img {
        width: 75px;
        margin-right: 25px;
      }

      .uber-ride-drive {
        height: 60px;
        width: 133px;
        @include flexdisplay(row, space-around, null);
        @include uberfont(16px,400,60px);
        color: $headingfontcolor;
        padding-top: -4px;
        @include navlinkfocus;

        p {
          height:60px;
          width: auto;
        }
      }
    }

    .uber-nav-right {
      width: 35%;
      height: 60px;
      @include flexdisplay(row,space-between,center);

      .uber-help-signin {
        height: 60px;
        width: 133px;
        @include flexdisplay(row, space-around, center);
        @include uberfont(16px,400,60px);
        color: $headingfontcolor;
        @include navlinkfocus;
        margin-right: 5px;
      }

      .fa-map-marker:hover {
        color: $uberlightgreen;
      }

      .uber-nav-btn {
        width: 170px;
        height: 40px;
        background-color: $uberlightgreen;
        @include flexdisplay(row,center,center);
        margin: 0 14px;

        p {
          @include uberfont(14px,400,28.5px);
          color: $uberwhitebackground;
        }
      }

      .uber-nav-btn:hover {
        background-color: $uberdarkgreen;
        transition: all .2s ease-in-out;
      }

      .uber-ham-icon {
        @include flexdisplay(column,space-around,center);
        height: 16px;
        width: 20px;

        .uber-ham {
          width: 20px;
          height: 2px;
          background-color: $headingfontcolor;
        }
      }

      .uber-ham-icon:hover {
        .uber-ham {
          background-color: $uberlightgreen;
        }
      }
    }
  }

  .uber-ride-dropdown, .uber-drive-dropdown {
    display: relative;
    width: 100%;
    height: 85px;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 2px 2px 0px;
    border-top: 1px solid $ubergreybackground;
    @include flexdisplay(row,center,center);

    .uber-dropdown-contents {
      width: 81%;
      height: 56px;
      margin: 0 auto;
      @include flexdisplay(row,flex-start,flex-start);

        .uber-dropdown-nav-column {
          width: 255px;
          height: 56px;
          @include flexdisplay(column, flex-start,space-around);
          padding-left: 95px;

           p {
             @include uberfont(16px, 400, 21px);
             margin-top: 3px;
           }

           p:hover {
             color: $uberlightgreen;
           }
        }
    }

    .uber-hover-bridge {
      position: absolute;
      left: 240px;
      top: 35px;
      width: 60px;
      height: 40px;
    }
  }

  .uber-drive-dropdown {
    height: 117px;

    .uber-dropdown-contents {
      height: 84px;

      .uber-dropdown-nav-column {
        height: 84px;
      }
    }

    .uber-hover-bridge {
      left: 310px;
    }
  }
}
