@import './../variables.scss';

.uber-gift-cards {
  position: relative;
  top: 60px;
  width: 100%;
  height: 378px;
  @include flexdisplay(row,flex-start,center);
  @include uberheadings;
  background-color: $uberwhitebackground;

  img {
    height: 378px;
  }

  .gift-cards-text-contents {
    margin-left: 100px;
    margin-top: 15px;

      p{
      @include uberfont(16px, 300, 24px);
      margin-bottom: 16px;
    }

    .uber-buy-now {
      @include uberfont(16px, 400, 18px);
      color: $uberlightgreen;
      width: 96px;
      height: 28px;
      @include flexdisplay(row,space-between,center);
      transition: all .2s ease-in-out;


      .fa-chevron-right {
        font-size: .8em;
      }
    }
    .uber-buy-now:hover {
      color: $uberdarkgreen;
      width: 101px;
      transition: all .2s ease-in-out;
    }
  }
}
