@import 'variables.scss';

@mixin location-overlay($height, $width){
  height: $height;
  width: $width;
  border: 1px solid $primaryblue * 1.3;
  border-radius: 5px;
  background-color: rgba(0, 144, 217, .7);
  position: absolute;
  padding: 3px, 7px;
  p {
    @include maintext(400);
    font-size: 10px;
    line-height: 16px;
    color: $primarywhite;

    .fa-angle-right {
      margin-left: 1px;
    }
  }
}


.splash-locations {
  width: 100%;
  height: 405px;
  @include flexdisplay(column,center,center);
  position: relative;
  top: 150px;
  background-image: url('https://static1.squarespace.com/static/ta/522a22cbe4b04681b0bff826/3030/assets/images/hero/hero-bg--lecture-b.jpg');
  background-size: cover;
  background-position: center;
  color: $primarywhite;
  @include maintext(300);

  .locations-bquote {
    text-align: center;
    width: 825px;
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 12px;
  }

  .cite {
    text-align: center;
    width: 825px;
    font-size: 16px;
    line-height: 28.8px;
  }

  .locations-container {
    width: 195px * 4;
    height: 150px;
    @include flexdisplay(row,center,center);
    margin-top: 40px;

    .location {
      width: 195px;
      height: 150px;
      position: relative;
      @include flexdisplay(row, center, center);
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
    }

    .california {
      background-image: url('https://static1.squarespace.com/static/ta/522a22cbe4b04681b0bff826/3030/assets/images/misc/maps/california.png');

      .california1-overlay {
        @include location-overlay(40px, 89px);
        @include flexdisplay(column, center, flex-start);
        padding-left: 7px;
        bottom: 52px;
        left: -14px;
        p {
          .fa-circle {
            margin-left: 10px;
          }
        }
      }

      .california2-overlay {
        @include location-overlay(40px, 81px);
        @include flexdisplay(column, center, flex-start);
        padding-left: 7px;
        bottom: 6px;
        left: 32px;
        p {
          .fa-circle {
            margin-left: 10px;
          }
        }
      }
    }

    .texas {
      background-image: url('https://static1.squarespace.com/static/ta/522a22cbe4b04681b0bff826/3030/assets/images/misc/maps/texas.png');

      .texas-overlay {
        @include location-overlay(40px, 68px);
        @include flexdisplay(column, center, flex-start);
        padding-left: 7px;
        bottom: 34px;
        right: 70px;
        p {
          .fa-circle {
            margin-left: 18px;
          }
        }
      }
    }

    .newyork {
      background-image: url('https://static1.squarespace.com/static/ta/522a22cbe4b04681b0bff826/3030/assets/images/misc/maps/new-york.png');

      .newyork-overlay {
        @include location-overlay(40px, 90px);
        @include flexdisplay(column, center, flex-start);
        padding-left: 7px;
        bottom: 0;
        right: 55px;
        p {
          .fa-circle {
            margin-left: 10px;
          }
        }
      }
    }

    .remote {
      background-image: url('https://static1.squarespace.com/static/ta/522a22cbe4b04681b0bff826/3030/assets/images/misc/maps/remote.png');

      .remote-overlay {
        @include location-overlay(40px, 120px);
        @include flexdisplay(column, center, center);
        p {
          text-align: center;
        }
      }
    }

    .california1-overlay:hover, .california2-overlay:hover, .texas-overlay:hover, .newyork-overlay:hover, .remote-overlay:hover {
      background-color: rgba(222, 124, 1, 0.7);
      border: 1px solid $primaryorange * 1.3;
    }
  }
}
