@import 'variables.scss';

.splash-banner {
  width: 100%;
  height: 460px;
  background-image: url('https://static1.squarespace.com/static/ta/522a22cbe4b04681b0bff826/3030/assets/images/hero/hero-bg--home.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center -80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $primarywhite;
}

.splash-title-text {
  font-family: $titletext;
  font-weight: 700;
  width: 970px;
  text-align: center;
  font-size: 42px;
  line-height: 60px;
  letter-spacing: 2px;
  font-weight: 400;
}

.splash-subtitle-text {
  font-family: $mainfont;
  width: 970px;
  text-align: center;
  font-size: 24px;
  line-height: 36px;
  font-weight: 300;
  margin: 24px 0 36px 0;
}
