/*BEGIN PROJECT HOME*/
$secondaryblack: #181818;
$homepagegrey: #F3F5F6;
$homepagetextgrey: #6F818D;
$sasspink: #CC6A9B;

@mixin projecthomefont($weight){
  font-weight: $weight;
}
/*font weights include 400, 700*/
/*END PROJECT HOME*/


/*BEGIN HACK REACTOR*/
$primaryblack: #000000;
$primarygrey: #7c7c7c;
$primarywhite: #ffffff;
$primaryblue: #0090D9;
$secondaryblue: #0078b5;
$hoverblue: #0097e3;
$primaryorange: #de7c01;
$primarygreen: #00B298;
$primarybrown: #3D3935;
$secondarygrey: #e2e2e2;
$tertiarygrey: #d0d0d0;
$hovergrey: #f9f9f9;

$mainfont: 'Source Sans Pro', sans-serif;
/*font weights include 200, 300, 400, 600*/
$titletext: 'Merriweather', serif;
/*font weights include 300, 400*/

@mixin flexdisplay($direction, $justify, $align){
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin maintext($weight){
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: $weight;
}

@mixin titletext($weight){
  font-family: 'Merriweather', serif;
  font-weight: $weight;
}
/*END HACK REACTOR*/


/*START MX*/
$mxblack: #262626;
$mxwhite: #FFFFFF;
$mxgrey: #E6EAEB;
$mxdeepgrey: #929292;
$mxgreybackground: #F3F3F3;
$mxwhitebackground: #FEFEFE;
$mxfootergrey: #7f7f7f;


$mxbutton: linear-gradient(255deg, #23c5d6, #18b3d5);

@mixin mxtext($weight){
  font-family: 'Open Sans', sans-serif;
  font-weight: $weight;
}
/*font weights include 300i, 400, 600, 700, 800*/

@mixin mxsectiontext{
  h1 {
    font-size: 45px;
    line-height: 63px;
    margin-bottom: 30px;
    @include mxtext(400);

    span {
      @include mxtext(700);
    }
  }

  p {
    @include mxtext(400);
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 10px;
  }
}

@mixin mxbutton($width){
  width: $width;
  height: 50px;
  padding: 0 20px;
  font-size: 14px;
  line-height: 50px;
  @include flexdisplay(row,center,center);
  letter-spacing: 2px;
  background-image: $mxbutton;
  border-radius: 2px;
  color: $mxwhite;
  margin-top: 10px;
    p {
      margin-bottom: 0px;
    }
}
/*END MX*/

/*START UBER*/

$lightheadingfontcolor: #494949;
$headingfontcolor: #000000;
$bodyfontcolor: #0A0A0A;
$uberwhitebackground: #FFFFFF;
$ubergreybackground: #F8F8F9;
$ubergreyaccent: #E5E5E4;
$uberdarkgreen: #295429;
$uberlightgreen: #377037;
$uberdarkgrey: #C6C6C6;


@mixin uberfont($size, $weight, $height){
  font-family: 'Fira Sans', sans-serif;
  font-size: $size;
  font-weight: $weight;
  /*300, 400, 500, 600, 700*/
  line-height: $height;
}

@mixin uberheadings() {
  h2 {
    @include uberfont(23px, 200, 23px);
    margin-bottom: 12px;
  }

  h1 {
    @include uberfont(36px, 300, 44px);
    margin-bottom: 24px;
  }
}

@mixin navlinkfocus {

  .uber-nav-link {
    height: 60px;
    width: 66.5px;
    @include flexdisplay(column,flex-start,center);

    .focus-bar {
      width: 66.5px;
      height: 4px;
      background-color: transparent;
      text-align: center;
    }

    .focus-bar:hover {
      background-color: $uberlightgreen;
      color: $uberlightgreen;
    }

  }

}

@mixin uberinput($width, $height){
  width: $width;
  height: $height;
  padding: 10px;
  @include uberfont(16px, 200, $height);
}

@mixin uberbutton($width, $left, $top){
  position: relative;
  left: $left;
  top: $top;
  width: $width;
  height: 44px;
  background-color: $uberlightgreen;
  @include flexdisplay(row,space-between,center);
  padding: 0px 20px 0 20px;;
  transition: all .2s ease-in-out;

  p {
    @include uberfont(15px, 400, 44px);
    color: $uberwhitebackground;
  }

  .fa-long-arrow-right {
    color: $uberwhitebackground;
  }
}

/*END UBER*/
