/*colors*/
$primaryblack: #000000;
$primarygrey: #7c7c7c;
$primarywhite: #ffffff;
$primaryblue: #0090D9;
$hoverblue: #0097e3;
$primaryorange: #de7c01;
$primarygreen: #00B298;
$primarybrown: #3D3935;
$secondarygrey: #e2e2e2;
$tertiarygrey: #d0d0d0;


/*font families*/
$mainfont: 'Source Sans Pro', sans-serif;
/*font weights include 200, 300, 400, 600*/

$titletext: 'Merriweather', serif;
/*font weights include 300, 400*/


/*Mixins*/
@mixin flexdisplay($direction, $justify, $align){
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin maintext($weight){
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: $weight;
}

@mixin titletext($weight){
  font-family: 'Merriweather', serif;
  font-weight: $weight;
}
