/*colors*/
$primaryblack: #000000;
$primaryblue: #0090d9;
$primarygrey: #7c7c7c;


/*font families*/
$mainfont: 'Source Sans Pro', sans-serif;
/*font weights include 300, 400, 600*/

$titletext: 'Merriweather', serif;
/*font weights include 400, 700*/
