@import './../variables.scss';

@mixin immersive-text($right, $left){
  width: 275px;
  text-align: center;
  font-size: 16px;
  line-height: 24px;
  margin: 0 $right 0 $left;
}

.splash-immersive {
  width: 100%;
  height: 500px;
  position: relative;
  top: 150px;
  @include flexdisplay(row,center,center);
  color: $primarywhite;

  .prepare-immersive, .onsite-immersive, .remote-immersive {
    height: 500px;

    .immersive-btn {
      height: 41px;
      width: 126px;
      padding: 9px, 24px;
      margin-top: 24px;
      border: 1px solid $primarywhite;
      border-radius: 2px;
      @include flexdisplay(row,center,center);
      margin: 24px auto;
      transition: all .2s ease-in-out;


        .learn-more {
          @include maintext(600);
          text-align: center;
          font-size: 16px;
          line-height: 21px;
        }
    }

    .immersive-btn:hover {
      background-color: $primarywhite;
      box-shadow: rgba(0,0,0,0.2) 0px 1px 2px 0px;

        .learn-more {
          color: $primaryblack;
        }
    }

    .immersive-header {
      @include titletext(400);
      font-size: 18px;
      line-height: 18px;
      margin: 24px 0;
    }
  }

  .immersive-img-container {
    width: 100%;
    height: 215px;
  }

  .prepare-immersive, .remote-immersive {
    width: 34%;
  }

  .immersive-text-container {
    width: 100%;
    padding-top: 36px;

      p {
        @include maintext(200);
      }
    }

  .text-left {
    @include flexdisplay(row, flex-end, center);

    p {
      @include immersive-text(64px, 0px);
    }
  }

  .text-middle {
    @include flexdisplay(row, center, center);

    p {
      @include immersive-text(0px, 0px);
    }
  }

  .text-right {
    @include flexdisplay(row, flex-start, center);

    p {
      @include immersive-text(0px, 64px);
    }
  }

  .prepare-immersive {
    background-color: $primaryorange;
    text-align: right;

    .img-left {
      background-image: url('https://static1.squarespace.com/static/ta/522a22cbe4b04681b0bff826/3030/assets/images/photos/student-coding-solo.jpg');
      background-size: cover;
      background-repeat: no-repeat;
      background-position: 0% 20%;
    }

    .immersive-btn {
      margin-right: 140px;
    }
  }

  .immersive-left {
    padding-right: 64px;
  }

  .onsite-immersive {
    width: 32%;
    background-color: $primaryblue;
    text-align: center;

    .img-middle {
      background-image: url('https://static1.squarespace.com/static/ta/522a22cbe4b04681b0bff826/3030/assets/images/photos/students-in-lecture.jpg');
      background-size: cover;
      background-repeat: no-repeat;
      background-position: 0% 20%;
    }
  }

  .immersive-right {
    padding-left: 64px;
  }

  .remote-immersive {
    background-color: $primarygreen;
    text-align: left;

    .img-right {
      background-image: url('https://static1.squarespace.com/static/ta/522a22cbe4b04681b0bff826/3030/assets/images/photos/laptop.jpg');
      background-size: cover;
      background-repeat: no-repeat;
      background-position: 0% 20%;
    }

    .immersive-btn {
      margin-left: 140px;
    }
  }



}
