/*colors*/
/*font families*/
/*font weights include 200, 300, 400, 600*/
/*font weights include 300, 400*/
/*Mixins*/
/*colors*/
/*font families*/
/*font weights include 200, 300, 400, 600*/
/*font weights include 300, 400*/
/*Mixins*/
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100%;
  background-color: #ffffff;
  position: fixed;
  z-index: 99;
  top: 50px; }
  .navbar .logo-container {
    width: 156.2px;
    height: 46.2px;
    background-image: url(./images/hack-reactor-logo.png);
    background-size: contain;
    background-repeat: no-repeat; }
  .navbar .nav-links-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 24px; }
  .navbar .nav-link {
    color: #7c7c7c;
    padding: 0 12px;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px; }
    .navbar .nav-link .fa-caret-down {
      color: #0090D9;
      margin-left: 5px; }
  .navbar .nav-link:hover {
    color: #0090D9; }
  .navbar .button {
    width: 130px;
    height: 41px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #0090D9;
    border-radius: 3px; }
    .navbar .button p {
      color: #ffffff;
      font-family: "Source Sans Pro", sans-serif;
      font-size: 14px;
      line-height: 21px; }

/*colors*/
/*font families*/
/*font weights include 200, 300, 400, 600*/
/*font weights include 300, 400*/
/*Mixins*/
.navbar-ad {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 100%;
  background-color: #ffffff;
  z-index: 100;
  box-shadow: 0 1px 3px 2px rgba(0, 0, 0, 0.15);
  position: fixed; }
  .navbar-ad p {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: #3d3935; }
  .navbar-ad .small-button {
    width: 110px;
    height: 25px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #0090D9;
    border-radius: 3px;
    margin-left: 17.5px; }
    .navbar-ad .small-button p {
      color: #ffffff;
      font-family: "Source Sans Pro", sans-serif;
      font-size: 15px;
      font-weight: 300;
      line-height: 21px; }

/*colors*/
/*font families*/
/*font weights include 200, 300, 400, 600*/
/*font weights include 300, 400*/
/*Mixins*/
.splash-banner {
  width: 100%;
  height: 450px;
  position: relative;
  top: 150px;
  background-image: url("https://static1.squarespace.com/static/ta/522a22cbe4b04681b0bff826/3030/assets/images/hero/hero-bg--home.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center -80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  padding-top: 5px; }
  .splash-banner .splash-title-text {
    font-family: 'Merriweather', serif;
    font-weight: 300;
    width: 970px;
    text-align: center;
    font-size: 42px;
    line-height: 60px;
    letter-spacing: 2px; }
  .splash-banner .splash-subtitle-text {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 200;
    width: 970px;
    text-align: center;
    font-size: 24px;
    line-height: 36px;
    margin: 24px 0 36px 0; }
  .splash-banner .buttons-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 970px;
    font-size: 16px;
    line-height: 21px; }
  .splash-banner .start-learning-btn, .splash-banner .who-we-are-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 260px;
    height: 41px;
    padding: 9px 24px;
    border-radius: 3px; }
  .splash-banner .start-learning-btn {
    background-color: #0090D9;
    margin-right: 12px; }
  .splash-banner .who-we-are-btn {
    border: 1px solid #ffffff;
    margin-left: 12px;
    background-color: rgba(255, 255, 255, 0.2); }
    .splash-banner .who-we-are-btn p {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      width: 100%; }
      .splash-banner .who-we-are-btn p .play-circle {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        border-radius: 999px;
        width: 24px;
        height: 24px;
        border: 1px solid #ffffff;
        padding-left: 2.5px;
        margin-left: 8px; }
        .splash-banner .who-we-are-btn p .play-circle .fa-play {
          font-size: .65em; }
  .splash-banner .who-we-are-btn:hover {
    background-color: #ffffff;
    color: #000000; }

/*colors*/
/*font families*/
/*font weights include 200, 300, 400, 600*/
/*font weights include 300, 400*/
/*Mixins*/
.splash-outcomes {
  width: 100%;
  height: 600px;
  position: relative;
  top: 150px; }
  .splash-outcomes .outcomes-content {
    height: 100%;
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 0 auto; }
    .splash-outcomes .outcomes-content .outcomes-heading {
      font-family: 'Merriweather', serif;
      font-weight: 300;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: flex-end;
      height: 30%;
      text-align: center;
      font-size: 36px;
      line-height: 54px;
      padding-bottom: 17px;
      margin-bottom: 16px; }
    .splash-outcomes .outcomes-content .bottom-contents {
      width: 100%;
      height: 70%;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: flex-start;
      font-family: "Source Sans Pro", sans-serif; }
      .splash-outcomes .outcomes-content .bottom-contents .bottom-left {
        width: 42.5%;
        height: 90%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        padding-top: 10px; }
        .splash-outcomes .outcomes-content .bottom-contents .bottom-left .popout-box {
          width: 100%;
          height: 95%;
          box-shadow: 2px 2px 5px 4px rgba(0, 0, 0, 0.05);
          padding: 24px; }
          .splash-outcomes .outcomes-content .bottom-contents .bottom-left .popout-box .popout-heading {
            color: #0090D9;
            font-size: 22px;
            line-height: 32px;
            text-align: center; }
          .splash-outcomes .outcomes-content .bottom-contents .bottom-left .popout-box .median-salary-cirr {
            width: 100%;
            height: 128px;
            padding-top: 5px;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center; }
            .splash-outcomes .outcomes-content .bottom-contents .bottom-left .popout-box .median-salary-cirr .median-salary-container {
              width: 45%;
              font-family: "Source Sans Pro", sans-serif;
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center; }
              .splash-outcomes .outcomes-content .bottom-contents .bottom-left .popout-box .median-salary-cirr .median-salary-container .salary-fig {
                font-weight: 600;
                color: #0090D9;
                font-size: 44px;
                line-height: 44px;
                margin-bottom: 4px; }
              .splash-outcomes .outcomes-content .bottom-contents .bottom-left .popout-box .median-salary-cirr .median-salary-container .sf-median {
                font-size: 16px;
                line-height: 20px; }
            .splash-outcomes .outcomes-content .bottom-contents .bottom-left .popout-box .median-salary-cirr .cirr-container {
              width: 45%;
              height: 100%; }
              .splash-outcomes .outcomes-content .bottom-contents .bottom-left .popout-box .median-salary-cirr .cirr-container .cirr-logo {
                background-image: url("https://static1.squarespace.com/static/ta/522a22cbe4b04681b0bff826/3031/assets/images/logo/cirr--no-space.png");
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center center;
                width: 100%;
                height: 100%; }
          .splash-outcomes .outcomes-content .bottom-contents .bottom-left .popout-box .outcomes-stats {
            font-weight: 200;
            font-size: 13px;
            line-height: 10px;
            color: #A7A7A7;
            text-align: center;
            padding: 12px 0;
            margin-top: 12px;
            border-top: 1px solid #A7A7A7;
            border-bottom: 1px solid #A7A7A7; }
          .splash-outcomes .outcomes-content .bottom-contents .bottom-left .popout-box .outcomes-btn {
            border: 1px solid #de7c01;
            border-radius: 2px;
            width: 190px;
            height: 41px;
            margin: 0 auto;
            padding: 9px 24px;
            margin-top: 21px;
            text-align: center;
            color: #de7c01;
            font-size: 16px;
            line-height: 21px; }
          .splash-outcomes .outcomes-content .bottom-contents .bottom-left .popout-box .outcomes-btn:hover {
            background-color: #de7c01;
            color: #ffffff; }
      .splash-outcomes .outcomes-content .bottom-contents .bottom-right {
        width: 50%;
        height: 95%;
        font-weight: 200;
        font-size: 16px;
        line-height: 24px;
        background-color: white; }
        .splash-outcomes .outcomes-content .bottom-contents .bottom-right strong {
          font-weight: 600; }

/*colors*/
/*font families*/
/*font weights include 200, 300, 400, 600*/
/*font weights include 300, 400*/
/*Mixins*/
.splash-immersive {
  width: 100%;
  height: 500px;
  position: relative;
  top: 150px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #ffffff; }
  .splash-immersive .prepare-immersive, .splash-immersive .onsite-immersive, .splash-immersive .remote-immersive {
    height: 500px; }
    .splash-immersive .prepare-immersive .immersive-btn, .splash-immersive .onsite-immersive .immersive-btn, .splash-immersive .remote-immersive .immersive-btn {
      height: 41px;
      width: 126px;
      padding: 9px, 24px;
      margin-top: 24px;
      border: 1px solid #ffffff;
      border-radius: 2px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 24px auto; }
      .splash-immersive .prepare-immersive .immersive-btn .learn-more, .splash-immersive .onsite-immersive .immersive-btn .learn-more, .splash-immersive .remote-immersive .immersive-btn .learn-more {
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: 600;
        text-align: center;
        font-size: 16px;
        line-height: 21px; }
    .splash-immersive .prepare-immersive .immersive-btn:hover, .splash-immersive .onsite-immersive .immersive-btn:hover, .splash-immersive .remote-immersive .immersive-btn:hover {
      background-color: #ffffff; }
      .splash-immersive .prepare-immersive .immersive-btn:hover .learn-more, .splash-immersive .onsite-immersive .immersive-btn:hover .learn-more, .splash-immersive .remote-immersive .immersive-btn:hover .learn-more {
        color: #000000; }
    .splash-immersive .prepare-immersive .immersive-header, .splash-immersive .onsite-immersive .immersive-header, .splash-immersive .remote-immersive .immersive-header {
      font-family: 'Merriweather', serif;
      font-weight: 400;
      font-size: 18px;
      line-height: 18px;
      margin: 24px 0; }
  .splash-immersive .immersive-img-container {
    width: 100%;
    height: 215px; }
  .splash-immersive .prepare-immersive, .splash-immersive .remote-immersive {
    width: 34%; }
  .splash-immersive .immersive-text-container {
    width: 100%;
    padding-top: 36px; }
    .splash-immersive .immersive-text-container p {
      font-family: 'Source Sans Pro', sans-serif;
      font-weight: 200; }
  .splash-immersive .text-left {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center; }
    .splash-immersive .text-left p {
      width: 275px;
      text-align: center;
      font-size: 16px;
      line-height: 24px;
      margin: 0 64px 0 0px; }
  .splash-immersive .text-middle {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; }
    .splash-immersive .text-middle p {
      width: 275px;
      text-align: center;
      font-size: 16px;
      line-height: 24px;
      margin: 0 0px 0 0px; }
  .splash-immersive .text-right {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center; }
    .splash-immersive .text-right p {
      width: 275px;
      text-align: center;
      font-size: 16px;
      line-height: 24px;
      margin: 0 0px 0 64px; }
  .splash-immersive .prepare-immersive {
    background-color: #de7c01;
    text-align: right; }
    .splash-immersive .prepare-immersive .img-left {
      background-image: url("https://static1.squarespace.com/static/ta/522a22cbe4b04681b0bff826/3030/assets/images/photos/student-coding-solo.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: 0% 20%; }
    .splash-immersive .prepare-immersive .immersive-btn {
      margin-right: 140px; }
  .splash-immersive .immersive-left {
    padding-right: 64px; }
  .splash-immersive .onsite-immersive {
    width: 32%;
    background-color: #0090D9;
    text-align: center; }
    .splash-immersive .onsite-immersive .img-middle {
      background-image: url("https://static1.squarespace.com/static/ta/522a22cbe4b04681b0bff826/3030/assets/images/photos/students-in-lecture.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: 0% 20%; }
  .splash-immersive .immersive-right {
    padding-left: 64px; }
  .splash-immersive .remote-immersive {
    background-color: #00B298;
    text-align: left; }
    .splash-immersive .remote-immersive .img-right {
      background-image: url("https://static1.squarespace.com/static/ta/522a22cbe4b04681b0bff826/3030/assets/images/photos/laptop.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: 0% 20%; }
    .splash-immersive .remote-immersive .immersive-btn {
      margin-left: 140px; }

/*colors*/
/*font families*/
/*font weights include 200, 300, 400, 600*/
/*font weights include 300, 400*/
/*Mixins*/
.splash-locations {
  width: 100%;
  height: 405px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 150px;
  background-image: url("https://static1.squarespace.com/static/ta/522a22cbe4b04681b0bff826/3030/assets/images/hero/hero-bg--lecture-b.jpg");
  background-size: cover;
  background-position: center;
  color: #ffffff;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300; }
  .splash-locations .locations-bquote {
    text-align: center;
    width: 825px;
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 12px; }
  .splash-locations .cite {
    text-align: center;
    width: 825px;
    font-size: 16px;
    line-height: 28.8px; }
  .splash-locations .locations-container {
    width: 780px;
    height: 150px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 40px; }
    .splash-locations .locations-container .location {
      width: 195px;
      height: 150px;
      position: relative;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      border: 1px solid orange; }
    .splash-locations .locations-container .california {
      background-image: url("https://static1.squarespace.com/static/ta/522a22cbe4b04681b0bff826/3030/assets/images/misc/maps/california.png"); }
    .splash-locations .locations-container .texas {
      background-image: url("https://static1.squarespace.com/static/ta/522a22cbe4b04681b0bff826/3030/assets/images/misc/maps/texas.png"); }
    .splash-locations .locations-container .newyork {
      background-image: url("https://static1.squarespace.com/static/ta/522a22cbe4b04681b0bff826/3030/assets/images/misc/maps/new-york.png"); }
    .splash-locations .locations-container .remote {
      background-image: url("https://static1.squarespace.com/static/ta/522a22cbe4b04681b0bff826/3030/assets/images/misc/maps/remote.png"); }
      .splash-locations .locations-container .remote .remote-overlay {
        height: 40px;
        width: 120px;
        border: 1px solid #00bbff;
        border-radius: 5px;
        background-color: rgba(0, 144, 217, 0.7);
        position: absolute;
        padding: 3px, 7px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; }
        .splash-locations .locations-container .remote .remote-overlay p {
          font-family: 'Source Sans Pro', sans-serif;
          font-weight: 400;
          font-size: 10px;
          line-height: 16px;
          text-align: center;
          color: #ffffff; }
          .splash-locations .locations-container .remote .remote-overlay p .fa-angle-right {
            margin-left: 1px; }
